<p>Hola esta es la primera página!</p>

<form action="/first" method="post">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="submit" value="Crear Nombre!">

</form>